# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "5bc41dbb1e7083796b65b705882a9d55"
name = "Temply-dev-2"
application_url = "https://temply-developer.joshuajeske.de"
embedded = true

[build]
automatically_update_urls_on_dev = true
dev_store_url = "josh-app-dev-store.myshopify.com"

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  compliance_topics = ["customers/data_request"]
  uri = "/webhooks/customers/data_request"

  [[webhooks.subscriptions]]
  compliance_topics = ["customers/redact"]
  uri = "/webhooks/customers/redact"

  [[webhooks.subscriptions]]
  compliance_topics = ["shop/redact"]
  uri = "/webhooks/shop/redact"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_themes,write_themes,read_content,write_content"

[auth]
redirect_urls = [ 
  "https://temply-developer.joshuajeske.de/api/auth",
  "https://temply-developer.joshuajeske.de/auth/callback"
]
